<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Hello Production v2</h1>
    <h2>Feature C</h2>
    <h2>Feature B</h2>
  </div>
</div>


</body>
</html>
